 h2 {
    color: #000;
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: -2px;
}
.w200 {
    padding: 100px 60px;
}
.w200-01 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.main_sl_title {
    display: flex;
    flex-shrink: 0;
}
.main_sl_title-right {
    width: 960px; height: 700px;
    align-items: flex-start;
    background-color: rgb(255, 185, 197);
}
.main_sl_title-left {
    width: 960px; height: 700px;
    align-items: flex-start;
    background-color: rgb(255, 154, 216);
}
.main_sl-title01 {
    display: flex;
    width: 1920px;
    height: 83px;
    padding: 0 55px;
    justify-content: space-between;
    align-items: flex-end;
}
.main_sl-title01-1 {
    font-size: 16px
}
.main_sl-title01-2 {
    font-size: 16px;
}
.xnas-product {
    display: flex;
    height: 487.13px;
    padding: 10px;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}
.T-box-1,.c-box-1,.a-box-1,.b-box-1,.e-box-1,.f-box-1 {
    display: flex;
    width: 295.83px;
    height: 402.3px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.T-box-1 {
background-color: hsl(270, 100%, 95%)
}
.c-box-1 {
    background-color: hsl(272, 100%, 90%)
}
.a-box-1 {
    background-color: hsl(271, 100%, 85%)
}
.b-box-1 {
    background-color: hsl(271, 100%, 80%)
}
.e-box-1 {
    background-color: hsl(271, 100%, 75%)
}
.f-box-1 {
    background-color: hsl(271, 100%, 70%)
}
.product-title {
    width: 295.83px;          /* 💡 연두색 상자(부모)랑 똑같은 너비를 주거나, 100%를 주세요! */
    white-space: nowrap;      /* 줄바꿈 절대 금지 */
    overflow: hidden;         /* 상자 밖으로 튀어나가면 숨기기 */
    text-overflow: ellipsis;  /* 숨겨진 부분은 '...'으로 표시하기 */
}
  