.oc1 {
    height: 100vp;
    background-color: antiquewhite;
}
.ocbox {
   width: 100px; height: 100px;
   background-color: rgb(223, 161, 161);
}
.oc2 {
height: 100vh;
background-color: rgb(52, 185, 185);
}
.oc3 {
height: 100vh;
background-color: #ff0a0a;
}
.oc4 {
height: 100vh;
background-color:#5900ff ;
}