header {
    height: 86px;
    background-color: rgb(127, 131, 134);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: azure;
}
.nac-box01 {
    width: 92px;height: 12px;
    border-radius: 2px;
    background-color: rgb(86, 169, 241);
}
h1 {
    background-color: rgb(255, 253, 253);
}
.use-box {
    background-color: rgb(233, 224, 224);
}
main {
    height: 400vh;
    background-color: rgb(195, 193, 197);
}
footer {
    height: 400vh;
    background-color: rgb(183, 183, 223);
}